<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <servlet-class>za.ac.tut.StartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coinTossingServlet</servlet-name>
        <servlet-class>za.ac.tut.coinTossingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuessServlet</servlet-name>
        <servlet-class>za.ac.tut.GuessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/StartSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coinTossingServlet</servlet-name>
        <url-pattern>/coinTossingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessServlet</servlet-name>
        <url-pattern>/GuessServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <context-param>
        <param-name>
           compname
        </param-name>
        <param-value>
            Siri
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            usrname
        </param-name>
        <param-value>
            des
        </param-value>
    </context-param> 
     <context-param>
        <param-name>
            password
        </param-name>
        <param-value>
            123
        </param-value>
    </context-param>\
    
</web-app>
